@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 3, 16);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 85vw;
  height: 80vh;
  display: flex;
  gap: 15px;
}

/* PARTY */

.party-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  gap: 15px;
}

.party-panel {
  height: 60%;
}

.party-chat {
  height: 40%;
}

.party-panel .inner {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.player-panel {
  flex: 1;
  border-radius: 2px;
  border-bottom: 1px solid rgb(16, 76, 79);
  width: 100%;
  display: flex;
  padding: 10px 10px;
  color: rgb(205, 205, 205);
  font-family: "Spectral", sans-serif;
  gap: 15px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-info p {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
}

.druid-class {
  padding: 0;
  margin: 0;
  color: rgba(158, 237, 39, 0.701);
}

.warrior-class {
  padding: 0;
  margin: 0;
  color: rgba(218, 68, 27, 0.766);
}

.mage-class {
  padding: 0;
  margin: 0;
  color: rgba(24, 238, 253, 0.74);
}

.paladin-class {
  padding: 0;
  margin: 0;
  color: rgba(219, 210, 28, 0.799);
}

.player-pic {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  width: 30%;
  overflow: hidden;
  border: 1px solid rgb(62, 73, 74);;
  border-radius: 3px;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONSOLE */

.main {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 15px;
}

.art {
  height: 30%;
}

.console {
  height: 70%;
}

/* INFO */

.info-section {
  flex: 1;
  display: flex;
  gap: 15px;
}

.left-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.map-panel {
  height: 29.45%;
}

.character-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.party-panel, .party-chat, .art, .console, 
.map-panel, .equipment, .stats, .inventory-panel {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgb(6, 104, 107);
  position: relative;
}

.equipment {
  flex: 1;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 3px;
}
.stats {
  flex: 1;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 3px;
}

.inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(6, 104, 107, 0.604);
  border-radius: 3px;
  position: relative;
}

.inventory-panel {
  width: 100%;
  height: 100%;
}

.inventory-panel h1 {
  color: rgb(205, 205, 205);
  font-family: "Spectral", sans-serif;
  margin-bottom: 32px;
}

.inventory-panel .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-panel .inner .slots {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: repeat(auto-fill, minmax(20px, 60px));
  gap: 10px;
  padding: 0 12px;
}

.slot {
  border: 2px solid rgba(6, 104, 107, 0.604);
  border-radius: 6px;
  aspect-ratio: 1/1;
}

.party-chat .inner {
  display: flex;
  flex-direction: column;
}

.messages {
  width: 100%;
  height: 100%;
  max-height: 233px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  gap: 5px;
}

.messages::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just for extra cleanness */
}

.message {
  width: 100%;
  min-height: 25px;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.messages p {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Spectral", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  text-shadow: 0px 0px 5px rgba(39, 190, 255, 0.746);
  white-space: normal;
  word-wrap: break-word;
}

.input-command {
  width: 100%;
  background-color: transparent;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 10px;
  gap: 5px;
}

input {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 3, 16);
  border: none;
  color: white;
  font-family: "Spectral", sans-serif;
  font-size: 18px;
  overflow: auto;
}

input:focus {
  outline: none;
}

.mes-span {
  color: rgb(56, 162, 194);
}

.input-sign {
  color: rgb(56, 162, 194);
  font-family: "Spectral", sans-serif;
  font-size: 18px;
}

@media (min-width: 2460px) {
  body {
    font-size: 1.5rem; /* Bigger font for 1440p and higher */
  }
  .player-info p {
    font-size: 2rem;
  }
  .inventory-panel {
    height: 100%;
    width: 49%;
  }
  .messages {
    max-height: 96%;
  }
  .messages p {
    font-size: 1.3rem; 
  }
  .input-command {
    font-size: 1.3rem;
  }
}