* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 85vw;
  height: 80vh;
  display: flex;
  gap: 15px;
}

/* PARTY */

.party-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  gap: 15px;
}

.party-panel {
  height: 60%;
}

.party-chat {
  height: 40%;
}

/* CONSOLE */

.main {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 15px;
}

.art {
  height: 30%;
}

.console {
  height: 70%;
}

/* INFO */

.info-section {
  flex: 1;
  display: flex;
  gap: 15px;
}

.left-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.map-panel {
  height: 29.45%;
}

.character-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inventory-panel {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.party-panel, .party-chat, .art, .console, 
.map-panel, .equipment, .stats, .inventory-panel {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgb(9, 150, 155);
}

.equipment {
  flex: 1;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 3px;
}
.stats {
  flex: 1;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 3px;
}

.inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(9, 150, 155, 0.556);
  border-radius: 3px;
}

.inventory {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.slot {
  background-color: #222;
  border: 2px solid #555;
  border-radius: 6px;
  aspect-ratio: 1 / 1;
}